USE [master]
GO
/****** Object:  Database [BurgerPlus]    Script Date: 01.06.2026 14:01:43 ******/
CREATE DATABASE [BurgerPlus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BurgerPlus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BurgerPlus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BurgerPlus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BurgerPlus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BurgerPlus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BurgerPlus]
GO
/****** Object:  Table [dbo].[Edinica_Izmerenia]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edinica_Izmerenia](
	[Id_Edinic] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Edinica_Izmerenia] PRIMARY KEY CLUSTERED 
(
	[Id_Edinic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_Materials]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_Materials](
	[Id_Price_Mat] [int] IDENTITY(1,1) NOT NULL,
	[Id_ProizvMat] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Price_Materials] PRIMARY KEY CLUSTERED 
(
	[Id_Price_Mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_Product]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_Product](
	[Id_Price_Product] [int] IDENTITY(1,1) NOT NULL,
	[Id_ProizProduct] [int] NOT NULL,
	[Cena] [money] NOT NULL,
 CONSTRAINT [PK_Price_Product] PRIMARY KEY CLUSTERED 
(
	[Id_Price_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod_Materials]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod_Materials](
	[Id_ProizvMat] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Kode] [nvarchar](50) NOT NULL,
	[Kolichestvo] [float] NOT NULL,
	[Id_Edinic] [int] NOT NULL,
 CONSTRAINT [PK_Proizvod_Materials] PRIMARY KEY CLUSTERED 
(
	[Id_ProizvMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod_Product]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod_Product](
	[Id_ProizProduct] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Kode] [nvarchar](50) NOT NULL,
	[Kolichestvo] [int] NOT NULL,
	[Id_Edinic] [int] NOT NULL,
 CONSTRAINT [PK_Proizvod_Product] PRIMARY KEY CLUSTERED 
(
	[Id_ProizProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rasschet_Stoimosti_Product]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rasschet_Stoimosti_Product](
	[Id_Rasshet] [int] IDENTITY(1,1) NOT NULL,
	[Id_ProizProduct] [int] NOT NULL,
	[Id_ProizvMat] [int] NOT NULL,
	[Id_Edinic] [int] NOT NULL,
	[Kolichestvo] [float] NOT NULL,
	[Cena] [money] NOT NULL,
	[Stoimost] [money] NOT NULL,
 CONSTRAINT [PK_Rasschet_Stoimosti_Product] PRIMARY KEY CLUSTERED 
(
	[Id_Rasshet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifikacia_Materials]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifikacia_Materials](
	[Id_SpecMat] [int] IDENTITY(1,1) NOT NULL,
	[Id_Specifikacia] [int] NOT NULL,
	[Id_ProizvMat] [int] NOT NULL,
	[Id_Edinic] [int] NOT NULL,
	[Kolichestvo] [float] NOT NULL,
 CONSTRAINT [PK_Specifikacia_Materials] PRIMARY KEY CLUSTERED 
(
	[Id_SpecMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifikacia_Product]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifikacia_Product](
	[Id_Specifikacia] [int] IDENTITY(1,1) NOT NULL,
	[Id_ProizProduct] [int] NOT NULL,
	[Cena] [money] NOT NULL,
 CONSTRAINT [PK_Specifikacia_Product] PRIMARY KEY CLUSTERED 
(
	[Id_Specifikacia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_Users] [int] IDENTITY(1,1) NOT NULL,
	[Id_Role] [int] NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Status_Id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id_Users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz_Pokypatel]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz_Pokypatel](
	[Id_Zakaz] [int] IDENTITY(1,1) NOT NULL,
	[Kolichestvo] [int] NOT NULL,
	[Id_Edinic] [int] NOT NULL,
	[Cena] [money] NOT NULL,
	[Summa] [money] NOT NULL,
	[Id_Zakazchika] [int] NOT NULL,
 CONSTRAINT [PK_Zakaz_Pokypatel] PRIMARY KEY CLUSTERED 
(
	[Id_Zakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazchiki]    Script Date: 01.06.2026 14:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazchiki](
	[Id_Zakazchik] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Inn] [nvarchar](50) NOT NULL,
	[Gorod] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Salesman] [nvarchar](50) NOT NULL,
	[Buyer] [float] NOT NULL,
	[Id_Users] [int] NOT NULL,
 CONSTRAINT [PK_Zakazchiki] PRIMARY KEY CLUSTERED 
(
	[Id_Zakazchik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Edinica_Izmerenia] ON 

INSERT [dbo].[Edinica_Izmerenia] ([Id_Edinic], [Name]) VALUES (1, N'Кг')
INSERT [dbo].[Edinica_Izmerenia] ([Id_Edinic], [Name]) VALUES (2, N'Шт')
SET IDENTITY_INSERT [dbo].[Edinica_Izmerenia] OFF
GO
SET IDENTITY_INSERT [dbo].[Price_Materials] ON 

INSERT [dbo].[Price_Materials] ([Id_Price_Mat], [Id_ProizvMat], [Price]) VALUES (1, 12, 45.0000)
INSERT [dbo].[Price_Materials] ([Id_Price_Mat], [Id_ProizvMat], [Price]) VALUES (2, 20, 75.0000)
INSERT [dbo].[Price_Materials] ([Id_Price_Mat], [Id_ProizvMat], [Price]) VALUES (3, 19, 34.0000)
SET IDENTITY_INSERT [dbo].[Price_Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Price_Product] ON 

INSERT [dbo].[Price_Product] ([Id_Price_Product], [Id_ProizProduct], [Cena]) VALUES (1, 1, 20.0000)
INSERT [dbo].[Price_Product] ([Id_Price_Product], [Id_ProizProduct], [Cena]) VALUES (2, 3, 450.0000)
INSERT [dbo].[Price_Product] ([Id_Price_Product], [Id_ProizProduct], [Cena]) VALUES (3, 7, 370.0000)
SET IDENTITY_INSERT [dbo].[Price_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Proizvod_Materials] ON 

INSERT [dbo].[Proizvod_Materials] ([Id_ProizvMat], [Name], [Kode], [Kolichestvo], [Id_Edinic]) VALUES (12, N'Булочка', N'НФ-00000009				
', 2, 2)
INSERT [dbo].[Proizvod_Materials] ([Id_ProizvMat], [Name], [Kode], [Kolichestvo], [Id_Edinic]) VALUES (13, N'Фарш говяжий														
', N'НФ-00000010				
', 0.4, 1)
INSERT [dbo].[Proizvod_Materials] ([Id_ProizvMat], [Name], [Kode], [Kolichestvo], [Id_Edinic]) VALUES (14, N'Помидор														
', N'НФ-00000011', 0.06, 1)
SET IDENTITY_INSERT [dbo].[Proizvod_Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Proizvod_Product] ON 

INSERT [dbo].[Proizvod_Product] ([Id_ProizProduct], [Name], [Kode], [Kolichestvo], [Id_Edinic]) VALUES (1, N'Бургер "Двойной позитив"														
', N'НФ-00000001				
', 1, 2)
INSERT [dbo].[Proizvod_Product] ([Id_ProizProduct], [Name], [Kode], [Kolichestvo], [Id_Edinic]) VALUES (3, N'Бургер "Душевный"													
', N'НФ-00000002', 2, 2)
INSERT [dbo].[Proizvod_Product] ([Id_ProizProduct], [Name], [Kode], [Kolichestvo], [Id_Edinic]) VALUES (5, N'Морс клюквенный 
', N'НФ-00000003', 6, 2)
SET IDENTITY_INSERT [dbo].[Proizvod_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Rasschet_Stoimosti_Product] ON 

INSERT [dbo].[Rasschet_Stoimosti_Product] ([Id_Rasshet], [Id_ProizProduct], [Id_ProizvMat], [Id_Edinic], [Kolichestvo], [Cena], [Stoimost]) VALUES (1, 1, 12, 2, 1, 25.0000, 50.0000)
INSERT [dbo].[Rasschet_Stoimosti_Product] ([Id_Rasshet], [Id_ProizProduct], [Id_ProizvMat], [Id_Edinic], [Kolichestvo], [Cena], [Stoimost]) VALUES (2, 1, 19, 2, 2, 80.0000, 50.0000)
INSERT [dbo].[Rasschet_Stoimosti_Product] ([Id_Rasshet], [Id_ProizProduct], [Id_ProizvMat], [Id_Edinic], [Kolichestvo], [Cena], [Stoimost]) VALUES (3, 1, 14, 1, 0.06, 300.0000, 18.0000)
SET IDENTITY_INSERT [dbo].[Rasschet_Stoimosti_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifikacia_Materials] ON 

INSERT [dbo].[Specifikacia_Materials] ([Id_SpecMat], [Id_Specifikacia], [Id_ProizvMat], [Id_Edinic], [Kolichestvo]) VALUES (1, 1, 12, 2, 2)
INSERT [dbo].[Specifikacia_Materials] ([Id_SpecMat], [Id_Specifikacia], [Id_ProizvMat], [Id_Edinic], [Kolichestvo]) VALUES (3, 1, 19, 1, 0.4)
INSERT [dbo].[Specifikacia_Materials] ([Id_SpecMat], [Id_Specifikacia], [Id_ProizvMat], [Id_Edinic], [Kolichestvo]) VALUES (4, 1, 14, 1, 0.06)
SET IDENTITY_INSERT [dbo].[Specifikacia_Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifikacia_Product] ON 

INSERT [dbo].[Specifikacia_Product] ([Id_Specifikacia], [Id_ProizProduct], [Cena]) VALUES (1, 1, 270.0000)
SET IDENTITY_INSERT [dbo].[Specifikacia_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Status_Id], [Name]) VALUES (1, N'Заблокирован')
INSERT [dbo].[Status] ([Status_Id], [Name]) VALUES (2, N'Разблокирован')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id_Users], [Id_Role], [Last_Name], [First_Name], [Login], [Password], [Patronymic], [Status_Id]) VALUES (1, 1, N'Никитенко', N'Лилия', N'111', N'1', N'Андреевна', 2)
INSERT [dbo].[Users] ([Id_Users], [Id_Role], [Last_Name], [First_Name], [Login], [Password], [Patronymic], [Status_Id]) VALUES (2, 1, N'Толкачева', N'Сабрина', N'222', N'2', N'Александровна', 2)
INSERT [dbo].[Users] ([Id_Users], [Id_Role], [Last_Name], [First_Name], [Login], [Password], [Patronymic], [Status_Id]) VALUES (3, 1, N'Александров', N'Александр', N'333', N'3', N'Александрович', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Zakazchiki] ON 

INSERT [dbo].[Zakazchiki] ([Id_Zakazchik], [Id], [Name], [Inn], [Gorod], [Street], [Phone], [Salesman], [Buyer], [Id_Users]) VALUES (7, 1, N'ООО "Поставка"', N'26320124743', N'г.Пятигорск', N'ул. строители 52', N'+79198634592', N'1', 1, 4)
INSERT [dbo].[Zakazchiki] ([Id_Zakazchik], [Id], [Name], [Inn], [Gorod], [Street], [Phone], [Salesman], [Buyer], [Id_Users]) VALUES (8, 2, N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск', N' ул. Мира, 123', N'+79884581555', N'1', 0, 5)
INSERT [dbo].[Zakazchiki] ([Id_Zakazchik], [Id], [Name], [Inn], [Gorod], [Street], [Phone], [Salesman], [Buyer], [Id_Users]) VALUES (9, 8, N'ООО "Новый JDTO"', N'26320045111', N'г. Железноводсу', N'ул. строителей 25', N'+79884581555', N'1', 0, 6)
SET IDENTITY_INSERT [dbo].[Zakazchiki] OFF
GO
ALTER TABLE [dbo].[Price_Materials]  WITH CHECK ADD  CONSTRAINT [FK_Price_Materials_Proizvod_Materials] FOREIGN KEY([Id_ProizvMat])
REFERENCES [dbo].[Proizvod_Materials] ([Id_ProizvMat])
GO
ALTER TABLE [dbo].[Price_Materials] CHECK CONSTRAINT [FK_Price_Materials_Proizvod_Materials]
GO
ALTER TABLE [dbo].[Price_Product]  WITH CHECK ADD  CONSTRAINT [FK_Price_Product_Proizvod_Product] FOREIGN KEY([Id_ProizProduct])
REFERENCES [dbo].[Proizvod_Product] ([Id_ProizProduct])
GO
ALTER TABLE [dbo].[Price_Product] CHECK CONSTRAINT [FK_Price_Product_Proizvod_Product]
GO
ALTER TABLE [dbo].[Proizvod_Materials]  WITH CHECK ADD  CONSTRAINT [FK_Proizvod_Materials_Edinica_Izmerenia] FOREIGN KEY([Id_Edinic])
REFERENCES [dbo].[Edinica_Izmerenia] ([Id_Edinic])
GO
ALTER TABLE [dbo].[Proizvod_Materials] CHECK CONSTRAINT [FK_Proizvod_Materials_Edinica_Izmerenia]
GO
ALTER TABLE [dbo].[Proizvod_Product]  WITH CHECK ADD  CONSTRAINT [FK_Proizvod_Product_Edinica_Izmerenia] FOREIGN KEY([Id_Edinic])
REFERENCES [dbo].[Edinica_Izmerenia] ([Id_Edinic])
GO
ALTER TABLE [dbo].[Proizvod_Product] CHECK CONSTRAINT [FK_Proizvod_Product_Edinica_Izmerenia]
GO
ALTER TABLE [dbo].[Rasschet_Stoimosti_Product]  WITH CHECK ADD  CONSTRAINT [FK_Rasschet_Stoimosti_Product_Edinica_Izmerenia] FOREIGN KEY([Id_Edinic])
REFERENCES [dbo].[Edinica_Izmerenia] ([Id_Edinic])
GO
ALTER TABLE [dbo].[Rasschet_Stoimosti_Product] CHECK CONSTRAINT [FK_Rasschet_Stoimosti_Product_Edinica_Izmerenia]
GO
ALTER TABLE [dbo].[Rasschet_Stoimosti_Product]  WITH CHECK ADD  CONSTRAINT [FK_Rasschet_Stoimosti_Product_Proizvod_Materials] FOREIGN KEY([Id_ProizvMat])
REFERENCES [dbo].[Proizvod_Materials] ([Id_ProizvMat])
GO
ALTER TABLE [dbo].[Rasschet_Stoimosti_Product] CHECK CONSTRAINT [FK_Rasschet_Stoimosti_Product_Proizvod_Materials]
GO
ALTER TABLE [dbo].[Rasschet_Stoimosti_Product]  WITH CHECK ADD  CONSTRAINT [FK_Rasschet_Stoimosti_Product_Proizvod_Product] FOREIGN KEY([Id_ProizProduct])
REFERENCES [dbo].[Proizvod_Product] ([Id_ProizProduct])
GO
ALTER TABLE [dbo].[Rasschet_Stoimosti_Product] CHECK CONSTRAINT [FK_Rasschet_Stoimosti_Product_Proizvod_Product]
GO
ALTER TABLE [dbo].[Specifikacia_Materials]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacia_Materials_Edinica_Izmerenia] FOREIGN KEY([Id_Edinic])
REFERENCES [dbo].[Edinica_Izmerenia] ([Id_Edinic])
GO
ALTER TABLE [dbo].[Specifikacia_Materials] CHECK CONSTRAINT [FK_Specifikacia_Materials_Edinica_Izmerenia]
GO
ALTER TABLE [dbo].[Specifikacia_Materials]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacia_Materials_Proizvod_Materials] FOREIGN KEY([Id_ProizvMat])
REFERENCES [dbo].[Proizvod_Materials] ([Id_ProizvMat])
GO
ALTER TABLE [dbo].[Specifikacia_Materials] CHECK CONSTRAINT [FK_Specifikacia_Materials_Proizvod_Materials]
GO
ALTER TABLE [dbo].[Specifikacia_Materials]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacia_Materials_Specifikacia_Product] FOREIGN KEY([Id_Specifikacia])
REFERENCES [dbo].[Specifikacia_Product] ([Id_Specifikacia])
GO
ALTER TABLE [dbo].[Specifikacia_Materials] CHECK CONSTRAINT [FK_Specifikacia_Materials_Specifikacia_Product]
GO
ALTER TABLE [dbo].[Specifikacia_Product]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacia_Product_Proizvod_Product] FOREIGN KEY([Id_ProizProduct])
REFERENCES [dbo].[Proizvod_Product] ([Id_ProizProduct])
GO
ALTER TABLE [dbo].[Specifikacia_Product] CHECK CONSTRAINT [FK_Specifikacia_Product_Proizvod_Product]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Id_Role])
REFERENCES [dbo].[Roles] ([Id_Role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Status] FOREIGN KEY([Status_Id])
REFERENCES [dbo].[Status] ([Status_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Status]
GO
ALTER TABLE [dbo].[Zakaz_Pokypatel]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Pokypatel_Edinica_Izmerenia] FOREIGN KEY([Id_Edinic])
REFERENCES [dbo].[Edinica_Izmerenia] ([Id_Edinic])
GO
ALTER TABLE [dbo].[Zakaz_Pokypatel] CHECK CONSTRAINT [FK_Zakaz_Pokypatel_Edinica_Izmerenia]
GO
ALTER TABLE [dbo].[Zakaz_Pokypatel]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Pokypatel_Zakazchiki] FOREIGN KEY([Id_Zakazchika])
REFERENCES [dbo].[Zakazchiki] ([Id_Zakazchik])
GO
ALTER TABLE [dbo].[Zakaz_Pokypatel] CHECK CONSTRAINT [FK_Zakaz_Pokypatel_Zakazchiki]
GO
ALTER TABLE [dbo].[Zakazchiki]  WITH CHECK ADD  CONSTRAINT [FK_Zakazchiki_Users] FOREIGN KEY([Id_Users])
REFERENCES [dbo].[Users] ([Id_Users])
GO
ALTER TABLE [dbo].[Zakazchiki] CHECK CONSTRAINT [FK_Zakazchiki_Users]
GO
USE [master]
GO
